html, body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
  background: #EEE;
  font-size: 16px !important;
  z-index: 0;
}

* {
  position: relative;
}

.content-block {
  background: #EEE;
}

p {
  font-size: 16px !important;
}

body {
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow:hidden;

  background: #333;

  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  color: white;

  position: relative;
  z-index: 0;
}

.header .contents {
  position: relative;
  z-index: 1;
  height: 100%;
}

.header:before {
  content: '';
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;
  opacity: 1;

  display: block;
  background-image: url(/img/tinyheaderalt.jpg);

  -webkit-filter: blur(20px);
  -o-filter: blur(20px);
  filter: blur(20px);

  transition: all 350ms ease-in-out;

  background-position: center;
  background-attachment: fixed;
  background-size: cover;

  width: 100%;
  height: 100%;
  overflow:hidden;
}

.header-enhanced.header:before {
  opacity: 0;
}

.header-enhanced {
  background-image: url(/img/headeralt.jpg);
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Arvo', sans-serif;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);


  text-align: center;
  font-size: 5rem;
  padding: 25px;
}

h2 {
  font-family: 'Arvo', sans-serif;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);


  font-size: 3rem;
  text-align: center;
  padding: 25px;
}

h3 {
  font-family: 'Arvo', sans-serif;

  font-size: 2rem;
  text-align: center;
  padding: 25px;
}

h4 {
  font-family: 'Arvo', sans-serif;

  color: #888;

  font-size: 1.25rem;
  text-align: center;
  padding: 5px;
}

.main-head {
  padding-top: 100px;
}

h1.down {
  position: absolute;
  bottom: 5%;
  width: 100%;
  opacity: 0.45;
  color: white;
}

p {
  padding: 25px;
  padding-bottom: 5px;
  line-height: 1.5rem;
  overflow: hidden;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: #eee;
}

.tagline {
  font-style: italic;
  text-align: center;
  display: block;
  font-size: 1.1rem;
  font-weight: bold;
}

.aboutme, .contact {
  padding-top: 50px;
  padding-bottom: 75px;
}

.myworkheader, .getintouchheader {

  background: url('/img/splash2.jpg');

  background-position: center;
  background-attachment: fixed;
  background-size: cover;

}

.getintouchheader {
  background: url('/img/splash3.jpg');

  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.myworkheader h1, .getintouchheader h1 {
  padding-top: 200px;
  padding-bottom: 200px;
  color: white;

  text-shadow: 1px 1px 5px rgba(0,0,0,0.8);
}

.logo {
  height: 150px;
  width: 150px;
  position: relative;

  margin: 10px;

  /* border: 1px solid #444; */
  padding: 5px;

  display: inline-block;

  float: left;
  display: flex;

  align-items: center;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
}

.company {
  margin: 25px;
  display: block;
  min-height: 200px;
  float: left;
}

.company h3, .company h4 {
  text-align: left;
  display: inline-block;
  padding-left: 25px;
  padding-bottom: 5px;
  padding-top: 10px;
}

.company p {
  display: inline-block;
  padding-top: 10px;
}

.company .content {
  max-width: calc(100% - 170px);
  float: right;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

p.last {
  text-align: center;
}

.contact h4 {
  text-shadow: none;
  font-family: "Open Sans", sans-serif;
  padding: 15px;
  color: #444;
}

.contact .tagline {
  margin-bottom: 15px;
}

a:hover {
  color: #777;
  text-decoration: none;
  background: linear-gradient(#eee,#eee),linear-gradient(#eee,#eee),linear-gradient(#777,#777);
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  text-shadow: .03em 0 #eee,-.03em 0 #eee,0 .03em #eee,0 -.03em #eee,.06em 0 #eee,-.06em 0 #eee,.09em 0 #eee,-.09em 0 #eee,.12em 0 #eee,-.12em 0 #eee,.15em 0 #eee,-.15em 0 #eee;
  background-position: 0 87%,100% 87%,0 87%;

}

a {
  transition: all 350ms ease-in-out;

  color: #444;
  text-decoration: none;
  background: linear-gradient(#eee,#eee),linear-gradient(#eee,#eee),linear-gradient(#444,#444);
  background-size: .05em 1px,.05em 1px,1px 1px;
  background-repeat: no-repeat,no-repeat,repeat-x;
  text-shadow: .03em 0 #eee,-.03em 0 #eee,0 .03em #eee,0 -.03em #eee,.06em 0 #eee,-.06em 0 #eee,.09em 0 #eee,-.09em 0 #eee,.12em 0 #eee,-.12em 0 #eee,.15em 0 #eee,-.15em 0 #eee;
  background-position: 0 87%,100% 87%,0 87%;
}

.myworkheader, .getintouchheader, .header {
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
}
